@font-face {
    font-family: 'Let\'s Be Glyphs';
    src: url('LetsBeGlyphs-Regular.woff2') format('woff2'),
        url('LetsBeGlyphs-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Let\'s Be Glyphs Bouncy';
    src: url('LetsBeGlyphs-Bouncy.woff2') format('woff2'),
        url('LetsBeGlyphs-Bouncy.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

